<div class="acv-frame"><div class="acv k-prod">
  <div class="acv-top"><span class="kind">Produce</span><span class="lang">{{Language}}</span></div>
  <div class="acv-body">
    <div class="split">
      <div class="ans">
        <h1 class="hw"><span>{{#Article}}<span class="art">{{Article}}</span> {{/Article}}{{Headword}}</span></h1>
        {{#Reading}}<div class="reading">{{Reading}}</div>{{/Reading}}
        <div class="meta">
          {{HeadwordAudio}}
          {{#IPA}}<span class="ipa">{{IPA}}</span>{{/IPA}}
          {{#Grammar}}<span class="gchip">{{Grammar}}</span>{{/Grammar}}
        </div>
        {{#Sentence}}
        <p class="ctx">{{Sentence}}</p>
        <div class="src">{{Source}}{{SentenceAudio}}</div>
        {{/Sentence}}
        {{#Note}}<p class="note">{{Note}}</p>{{/Note}}
      </div>
      {{#Picture}}<figure class="pic">{{Picture}}</figure>{{/Picture}}
    </div>
    {{#Senses}}<div class="senses"><h4>The whole word</h4>{{Senses}}</div>{{/Senses}}
  </div>
</div></div>
<!-- acervo:script -->
