{{#Produce}}<span class="gate" hidden>{{Produce}}</span>
<div class="acv-frame"><div class="acv k-prod">
  <div class="acv-top"><span class="kind">Produce</span><span class="lang">{{Language}}</span></div>
  <div class="prod">
    {{#Picture}}<figure class="pic">{{Picture}}</figure>{{/Picture}}
    <div class="ans">
      <div>
        <span class="dom">{{Domain}}</span>
        <p class="gloss">{{Gloss}}{{#Grammar}} <span class="alt">{{Grammar}}</span>{{/Grammar}}</p>
      </div>
      {{#Definition}}<p class="def"><span>{{Definition}}</span></p>{{/Definition}}
      {{#Cloze}}
      <p class="ctx">{{Cloze}}</p>
      {{#Translation}}<p class="tr">{{Translation}}</p>{{/Translation}}
      {{/Cloze}}
    </div>
  </div>
  <div class="spacer"></div>
  <div class="hint">Say it out loud, then reveal</div>
</div></div>
<!-- acervo:script -->
{{/Produce}}
