<div class="acv-frame"><div class="acv k-lis">
  <div class="acv-top"><span class="kind">Listen</span><span class="lang">{{Language}}</span></div>
  <div>
    <h1 class="hw"><span>{{#Article}}<span class="art">{{Article}}</span> {{/Article}}{{Headword}}</span>{{HeadwordAudio}}</h1>
    {{#Reading}}<div class="reading">{{Reading}}</div>{{/Reading}}
    <div class="meta" style="margin-top:8px">
      {{#IPA}}<span class="ipa">{{IPA}}</span>{{/IPA}}
      {{#Grammar}}<span class="gchip">{{Grammar}}</span>{{/Grammar}}
      {{#Glosses}}<span>{{Glosses}}</span>{{/Glosses}}
    </div>
  </div>
  {{#Senses}}{{Senses}}{{/Senses}}
  {{#Note}}<p class="note">{{Note}}</p>{{/Note}}
</div></div>
<!-- acervo:script -->
